div.col-page {
    display: none;
}
#easy-post-for-scrapbox {
    display: flex;
    margin: 1em 2em;
    gap: .5em;
    width: 100%;
    max-width: 600px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
    textarea {
        min-height: 10em;
        width: 100%;
    }
    button {
        width: 6em;
        height: 3em;
    }
}